<div class="localization__store d-flex {{ className }}">
  {%- if localization.available_countries.size > 1 and section.settings.enable_country_selector -%}
    <localization-form>
      {%- form 'localization', id: 'FooterCountryForm' -%}
        <div class="no-js-hidden">
          <div class="disclosure">
            <button
              type="button"
              class="disclosure__button localization-form__select localization-selector link link--text caption-large"
              aria-expanded="false"
              aria-controls="FooterCountryList"
              aria-describedby="FooterCountryLabel"
            >
              <span>
                {{- localization.country.currency.iso_code }}
                {{ localization.country.currency.symbol }} | {{ localization.country.name -}}
              </span>
              {% render 'icon-caret' %}
            </button>
            <div class="disclosure__list-wrapper" hidden>
              <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                {%- for country in localization.available_countries -%}
                  <li class="disclosure__item" tabindex="-1">
                    <a
                      class="link link--text disclosure__link caption-large focus-inset{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %}"
                      href="#"
                      {% if country.iso_code == localization.country.iso_code %}
                        aria-current="true"
                      {% endif %}
                      data-value="{{ country.iso_code }}"
                    >
                      <span class="localization-form__currency">
                        {{- country.currency.iso_code }}
                        {{ country.currency.symbol }} |</span
                      >
                      {{ country.name }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
          <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
        </div>
      {%- endform -%}
    </localization-form>
  {%- endif -%}

  {%- if localization.available_languages.size > 1 and section.settings.enable_language_selector -%}
    <localization-form>
      {%- form 'localization', id: 'FooterLanguageForm' -%}
        <div class="no-js-hidden">
          <div class="disclosure">
            <button
              type="button"
              class="disclosure__button localization-form__select localization-selector link link--text caption-large"
              aria-expanded="false"
              aria-controls="FooterLanguageList"
              aria-describedby="FooterLanguageLabel"
            >
              <span>{{ localization.language.endonym_name | capitalize }}</span>
              {% render 'icon-caret' %}
            </button>
            <div class="disclosure__list-wrapper" hidden>
              <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                {%- for language in localization.available_languages -%}
                  <li class="disclosure__item" tabindex="-1">
                    <a
                      class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
                      href="#"
                      hreflang="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {% if language.iso_code == localization.language.iso_code %}
                        aria-current="true"
                      {% endif %}
                      data-value="{{ language.iso_code }}"
                    >
                      {{ language.endonym_name | capitalize }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
          <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
        </div>
      {%- endform -%}
    </localization-form>
  {%- endif -%}
</div>
