<div class="offcanvas-overlay"></div>
<div id="predictive__search_overlay" tabindex="-1">
  <div class="search__content_inner">
    <button
      type="button"
      class="modal__close-button link link--text focus-inset"
      id="search__close_btn"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      <svg class="icon icon-close" aria-hidden="true" focusable="false">
        <use href="#icon-close">
      </svg>
    </button>
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
      <div class="search__input_field input__field_form">
        <label class="visually-hidden" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
        <input
          class="search__input input__field"
          id="Search-In-Modal"
          type="search"
          name="q"
          value=""
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <input type="hidden" name="options[prefix]" value="last">
        <button class="search__button input__field_form_button" aria-label="{{ 'general.search.search' | t }}">
          <svg
            class="icon icon-search"
            aria-hidden="true"
            focusable="false"
            role="presentation"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.833313 9.16659C0.833313 4.56421 4.56427 0.833252 9.16665 0.833252C13.769 0.833252 17.5 4.56421 17.5 9.16659C17.5 11.1677 16.7946 13.004 15.6191 14.4405L19.1666 17.9881L17.9881 19.1666L14.4406 15.619C13.0041 16.7946 11.1677 17.4999 9.16665 17.4999C4.56427 17.4999 0.833313 13.7689 0.833313 9.16659ZM9.16665 2.49992C5.48475 2.49992 2.49998 5.48469 2.49998 9.16659C2.49998 12.8485 5.48475 15.8333 9.16665 15.8333C12.8486 15.8333 15.8333 12.8485 15.8333 9.16659C15.8333 5.48469 12.8486 2.49992 9.16665 2.49992Z" fill="currentColor"/>
          </svg>
        </button>
      </div>

      {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
          <div class="predictive-search__loading-state">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>

        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}
    </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
  </div>
</div>
